
<%- include('includes/head') %>
<%- include('includes/nav') %>




  <div class="sidebar">
    <nav class="sidebar-nav">
      <ul>
        <li><a href="#">Avisos</a> <span>&gt;</span></li>
        <li><a href="#">Funcionários</a> <span>&gt;</span></li>
        <li><a href="/tarefas/index">Tarefas</a> <span>&gt;</span></li>
        <li><a href="#">Contas</a> <span>&gt;</span></li>
        <li><a href="#">Contatos</a> <span>&gt;</span></li>
      </ul>
    </nav>
  </div>

  



<%- include('includes/footer') %>
