<!doctype html>
<html lang="pt-br">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/login.css">
    <link rel="stylesheet" href="/static/css/cadastrar.css">
    <link rel="stylesheet" href="/static/css/messages.css">
    <link rel="stylesheet" href="/static/css/tarefas.css">
    

    <title>Condominio Onix</title>
  </head>
  <body>

    